/* shared css */
*{
    margin: 0px;
    padding:0px;
    /* fonts for all */
    font-family: 'Work Sans', sans-serif;
}
body, main{
    margin: 0px;
    padding:0px;
}
.btn-primary{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    
}

.btn-secondary{
    border-radius: 48px;
    background: #4EC5F7;
}

/* Header CSS */
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 30px;
}
.navbar-menu{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    
}
.navbar-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-logo .logo-img{
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}
.navbar-logo h2{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    
}
.navbar-logo .logo_G{
   color: #FF42A5
}
.nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-items >ul{
    display: flex;
    align-items: center;
}

.nav-items > ul .nav-list{
    list-style: none;
    
    border: 1px solid #fff;
    padding: 12px 18px;
    border-radius: 8px;
}
.nav-items > ul .nav-list:hover{
    list-style: none;
    
    border: 1px solid #FF42A5;
    padding: 12px 18px;
    border-radius: 8px;
}
.nav-items > ul .nav-list-anchor{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
/* Hovering effect on anchor */
.nav-items > ul .nav-list-anchor:hover{
    color: #FF42A5;
}
.nav-items h4{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.nav-items .fa-youtube{
    color: #F61C0D;
    height: 24px;
    margin-right: 5px;
}
.follow{
    margin-left: 8px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 12px 18px
}

/* MAIN BODY INITIALITING */
.main-body{
    width: 1440px;
    margin: auto;
}
/* Banner Section */
.banner-container{
    display: flex;
    justify-content: space-between;
}
.banner-contents{
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom left;
    padding-top: 150px;
    width: 50%;
    padding-left: 70px;
    
}
.banner-contents h3{
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.banner-contents h2{
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-contents h6{
    color: #534C64;
    font-size:18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 18px;
}
.banner-contents h6 .separate{
    width: 24px;
    height: 24px;
    color: #F948B2;
    
}
.banner-contents h6 .fa-user-group{
    width: 24px;
    height: 24px;
    color: #333;
    
}
.btn{
    margin: 40px 0;
}
.btn a{
    text-decoration: none;
    padding: 14px 16px;
    color: white;
    padding: 16px 28px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.banner-image img{
    width: 90%;
    align-items: right;

}

/* Gamer Introduction */
.gamer-introduction{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 80px 0;
    
}
.gamer-contents-img{
    
}
.gamer-contents-text{
    align-self: center;
    text-align: right;
    padding-right: 70px;
}
.gamer-contents-text h3{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.gamer-contents-text p{
    color: #534C64;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 35px 0;
}
.gamer-contents-text a{
    text-decoration: none;
    
    color: white;
    padding: 16px 28px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.gamer-contents-text .our-prs{
    color: #534C64;
    margin-bottom: 0px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
}
.gamer-contents-text span{
    color: #534C64;
    
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

/* VIDEO CONTAINER GETTING STARTED */
.video-container{
    padding: 80px 0;
}
.video-container h2{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.video-container h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.video-container p{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.video-boxes{
    
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}
.video-boxes .each-box{
    margin: 40px 0px;
    width: 100%;
}
.video-boxes .each-box img{
    width: auto;
    height: 300px;
    
}
.video-boxes .each-box p{
    text-align: left;
}

/* advertise */
.advertise-box{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    
}
.advertise-box .advertise-contents{
    width: 40%;
    padding-right:80px ;
    padding-top: 120px;
}
.advertise-box .advertise-contents h3{
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    width: 353px;
    margin-left: 200px;
}
.advertise-box .advertise-contents h3 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.advertise-box .advertise-contents p{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 353px;
    margin-left: 200px;
}
.advertise-box .advertise-img img{
    height: 450px;
}
.relo {
    position: relative;
    right: 70px;
    bottom: 150px;
}
.advertise-box .relo img{
    height: 180px;
    border: 3px solid #fff;
}

/* optional section  */
.advertise-box .advertise-contents .op-ac-title{
    text-align: left;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    width: 420px;
    margin-left: 200px;
}
.advertise-box .advertise-contents .op-ac-paragraph{
    color: #534C64;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 353px;
    margin-left: 200px;
}
.op-relo {
    position: relative;
    left: 410px;
    bottom: 150px;
}
.advertise-box .op-relo img{
    height: 180px;
    border: 3px solid #fff;
}

/* Careers css */
.careers{
     background: url("../images/Group\ 14.png"),#FF42A5 ;
     background-position: left;
     background-repeat: no-repeat;
    padding: 120px 0;

}
.careers-container{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}
.careers-container .careers-contents{}
.careers-container .careers-contents .careers-title{
    color: #FFF;
    width: 450px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    margin-bottom: 25px;
}
.careers-container .careers-contents .careers-paragraph{
    color: #FFF;
    width: 680px;;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.careers-container .careers-contents .careers-links{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.careers-container .careers-contents .careers-links h6{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 200% */
    
}
.careers-container .careers-contents .careers-links a{
    text-decoration: none;
    color: #fff;
}
.careers-container .careers-contents .position-btn{
    padding: 30px 0;
}
.position-btn a{
    text-decoration: none;
    color: #FF42A5;
    background-color: #FFF;
    border-radius: 36px;
    font-size: 20px;
    padding: 16px 36px;
    border: 2px solid #fff;
}
.position-btn a:hover{
    text-decoration: none;
    background-color: #FF42A5;
    color: #FFF;
    border-radius: 36px;
    font-size: 20px;
    padding: 16px 36px;
    border: 2px solid #fff;
}
.career-image{
    align-items:  left;
}
/* ICON CARDS */
.icon-mega{
    max-width:1440px;
    margin: 0 auto;
    padding-top: 80px;
}
.icon-box-bundle{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.icon-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 1px solid #fff;
    padding: 8px 12px;
    border-radius: 60px;
    
}
.icon-box:hover{
    border: 1px solid #FF42A5;
    padding: 8px 12px;
    border-radius: 60px;
    color: #FF42A5;
}
.icon-box h6{
    color: #0B0223;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}
.part-two{
    margin-top: 35px;
    padding-bottom: 80px;
}
/* footer */
.footer{
    background: #0B0223;
    
}
.footer-contents{
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}
.footer-logo{
    display: flex;
    justify-content: center;
    gap: 10px;

}
.footer-logo .footer-img{
    
}
.footer-logo .ft-ti{
    color: #fff;
    font-size: 40px;
}
.footer-logo h2 .ft-logo_G{
    color: #FF42A5;
}